<!-- <div class="container">
    <div class="header">
      <h1>Create Account</h1>
    </div>
    <form action="#">
      <div class="form-group">
        <label for="role">Select Role</label>
        <select name="role" id="role">
          <option value="">Select</option>
          <option value="1">Company</option>
          <option value="2">Individual</option>
        </select>
      </div>
      <div class="form-group">
        <label for="companyName">Company Name</label>
        <br>
        <div class="card flex justify-content-center">
            <input type="text" pInputText />
        </div>
        
      </div>
      <div class="form-group">
        <label for="companyEmail">Company Email</label>
        <input type="email" name="companyEmail" id="companyEmail" placeholder="Company Email">
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="tel" name="phoneNumber" id="phoneNumber" placeholder="Enter Phone Number">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter Password">
      </div>
      <div class="form-group">
        <input type="checkbox" name="terms" id="terms">
        <label for="terms">I accept the terms and privacy policy</label>
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
      <p class="already-member">Already have an account? <a href="#">Log in</a></p>
    </form>
  </div> -->

  <div class="wrapper">
  
    <!--  Header  -->
    <header class="section header">
      <div class="trapezoid"></div>
      
      <div class="header__text">
        <h1>Food Connect</h1>
        <p>create a new account. </p>
      </div>
    </header>
  
      <section class="section sign-in">
        <div class="trapezoid"></div>
        <form action="">
          <input type="text" name="name" placeholder="Company Name">
          <input type="text" name="email" placeholder="Email">
          <input type="number" name="phone" placeholder="phone Number">

          <input type="password" name="password" placeholder="Password">
          <button>Create Account</button>
          <!-- <p class="opposite-btn2">Already have an account?</p> -->
        </form>
      </section>
      
      
  </div>